<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd 
		                   http://www.springframework.org/schema/context 
		                   http://www.springframework.org/schema/context/spring-context.xsd 
		                   http://www.springframework.org/schema/mvc 
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd 
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop.xsd 
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx.xsd">
		                   
    <!-- Database Configuration -->
	<import resource="classpath*:DataSource.xml" />
	<import resource="classpath*:Hibernate.xml" />
	
	<!-- Auto scan the components -->
    <context:annotation-config />
    <context:component-scan base-package="controller" />
    
    <mvc:annotation-driven />
	
	<!--mvc:resources mapping="/" location="/index.html" /-->
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
    
    <!--bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp" /-->
    
    <!--bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <!--property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /-->
        <property name="viewClass">
			<value>org.springframework.web.servlet.view.tiles2.TilesView</value>
		</property>
        <!--property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" /-->
    </bean>
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<!--value>/WEB-INF/tiles.xml</value-->
				
				<value>/WEB-INF/tilesBase.xml</value>
                <!-- Scan views directory for Tiles configurations -->
                <!--value>/WEB-INF/views/tilesViews.xml</value>
                <value>/WEB-INF/views/**/tilesViews.xml</value-->				
			</list>
		</property>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basename="messages" />
    
    <bean id="tipoUsuarioDAO" class="dao.TipoUsuarioDAO" />
    <bean id="tipoUsuarioService" class="service.TipoUsuarioService" />
    <!-- bean id="tipoUsuarioValidator" class="validator.TipoUsuarioValidator" /-->
    
    <bean id="usuarioDAO" class="dao.UsuarioDAO" />
    <bean id="usuarioService" class="service.UsuarioService" />
    <bean id="usuarioValidator" class="validator.UsuarioValidator" />
    
    <bean id="tipoObjetoDAO" class="dao.TipoObjetoDAO" />
    <bean id="tipoObjetoService" class="service.TipoObjetoService" />
    <!-- bean id="tipoObjetoValidator" class="validator.TipoObjetoValidator" /-->
    
    <bean id="objetoDAO" class="dao.ObjetoDAO" />
    <bean id="objetoService" class="service.ObjetoService" />
    <bean id="objetoValidator" class="validator.ObjetoValidator" />
    
    <bean id="autenticacionService" class="service.AutenticacionService" />
</beans>
